# Reflow log files
log*

# Reflow state files
state*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# python cache
__pycache__

# all vcf files -- can i get this to work?
*.vcf
*.vcf*

# this huge cosmic thing
CosmicGenomeScreensMutantExport.tsv

# ignore output files
nonImmune_GATK_hits_LAUD_filter.csv
nonImmune_GATK_hits_raw.csv
geneOfInterestHits.csv
*_hits.csv
*out.csv
*Out.csv